<mat-toolbar>
  <span routerLink="/" class="logo">Book store</span>
  <nav class="actions">
    <ng-container *ngIf="!isLoggedIn; then thenTemplate; else elseTemplate">
    </ng-container>
    <ng-template #thenTemplate>
      <a routerLink="/auth/login" routerLinkActive="active">Log in</a>
      <a routerLink="/auth/register" routerLinkActive="active">Register</a>
    </ng-template>
    <ng-template #elseTemplate>
      <a (click)="logout()">Log out</a>
    </ng-template>
  </nav>
</mat-toolbar>
