[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
coverage = "*"

[packages]
django = "*"
mysqlclient = "*"
django-rest-framework = "*"
celery = "*"
redis = "*"
factory-boy = "*"
pyjwt = "*"
pillow = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"
