<div class="login-wrapper">
  <mat-card>
    <mat-card-title>Log in</mat-card-title>
    <mat-card-content>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="E-mail"
          />
          <mat-error *ngIf="loginForm.get('email').errors?.required">
            E-mail is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('email').errors?.email">
            E-mail is invalid
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            placeholder="******"
          />
          <mat-hint>
            <a routerLink="/reset-password">Forgot your password?</a>
          </mat-hint>
          <mat-error *ngIf="loginForm.get('password').errors?.required">
            Password is required
          </mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">Log in</button>
      </form>
      <p>
        Don't have an account? Create one
        <a routerLink="/register">here</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
