[run]
source = .
omit =
  manage.py
  app/*
  */migrations
  */apps.py
  */management/*
  */admin.py
  */models.py
  core/managers.py
  */tests/*
[report]
fail_under = 90
show_missing = True
skip_covered = True