# The environment Craft is currently running in ('dev', 'staging', 'production', etc.)
ENVIRONMENT="dev"

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY="nsKD38A6TXVDZwDzaHtbe--RpqJqcw4c"

# The Data Source Name (“DSN”) that tells Craft how to connect to the database
DB_SERVER=database

# The database username to connect with
DB_USER=craft

# The database password to connect with
DB_PASSWORD=secret

DB_DRIVER="mysql"

# The database schema that will be used (PostgreSQL only)
DB_SCHEMA=public

# The prefix that should be added to generated table names (only necessary if multiple things are sharing the same database)
DB_TABLE_PREFIX=""

DB_DSN=mysql:host=database;port=3306;dbname=craft

DEFAULT_SITE_URL="http://localhost"
